Dear Hiring Team,

I am excited to apply for the Junior Backend Developer position at Kreativstorm.

My background includes a transition from audio engineering to programming, where I have been able to developed my Python skills. Through certifications such as the Python Certified Entry-Level Programmer (PCEP) and Python Certified Associate Programmer (PCAP), I have built a strong technical base in Python knowledge. Additionally, I completed an Advanced Python Programming Expert course from ITTI, where I focused on frameworks like Flask and SQL database, and gained practical experience in creating and integrating APIs. I also had the opportunity to expand my skillset with courses from Infofortis, which allowed me to further strengthen my understanding of backend technologies.

Recently, I launched a personal project, Lap Insights, combining my programming skills with my interest in motorsport analytics. https://lapinsights.com. Also I have other projects I am actively carrying out new projects and challenges you can see in my GitHub profile: the7blacksmith.

I am very interested in continuing my learning and further improving as a developer.

Thank you for considering my application. I look forward to the opportunity to discuss my candidacy in more detail during an interview.

Sincerely,
Jaime Glez, de Herrero